@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  --primary-color: #684286;
  --primary-color-rgb: 104, 66, 134;
  --secondary-color: #47A4AD;
  --secondary-color-rgb: 71, 164, 173;
  --heading-font: "Ubuntu", Helvetica, Arial, sans-serif;
}

footer {
  background: var(--secondary-color);
}

#extra-wrap {
  background: rgba(var(--secondary-color-rgb), .92);
}